/*============================================================================
  Shopify Shopper
  Copyright 2016 Valentin-Marian Voilean.
  Author Valentin-Marian Voilean
  Built with Sass - http://sass-lang.com/
==============================================================================*/

/*============================================================================
  Table of Contents

  #Breakpoints
  #General Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Base
  #Header
==============================================================================*/

/*============================================================================
  #Breakpoints
==============================================================================*/

@import 'variables/grid';

/*============================================================================
  #General Variables
==============================================================================*/
@import 'variables/fonts';
@import 'variables/colors';

/*============================================================================
  #Sass Mixins
==============================================================================*/

@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/center-block";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/breakpoint";

/*============================================================================
  #Normalize
==============================================================================*/

@import 'components/core/normalize';

/*============================================================================
  #Grid setup
==============================================================================*/
@import 'components/core/grid';
@import 'components/core/utilities';
@import 'components/core/responsive-utilities';

/*============================================================================
  #Base
==============================================================================*/
@import 'components/core/base';

/*============================================================================
  #Header
==============================================================================*/
@import 'components/header/header';
@import 'components/hamburgerIcon/hamburgerIcon';
