.wishlist {
  text-transform: uppercase;
  height: 22px;
  position: relative;
  overflow: hidden;

  @include breakpoint($screen-lg) {
    height: 30px;
  }

  &:hover {

    .wishlist__text {
      color: $c2;
      max-width: 200px;
      margin-right: 10px;
    }

    .wishlist__icon {
      fill: $c2;
    }
  }

  &.active {
    .wishlist__icon:first-child { display: none; }
    .wishlist__icon:last-child { display: block; }
  }

  .wishlist__text {
    transition: all .5s ease-out;
    color: $c13;
    float: left;
    white-space: nowrap;
    line-height: 22px;
    max-width: 0;
    overflow: hidden;

    @include breakpoint($screen-lg) {
      line-height: 30px;
    }
  }

  .wishlist__img {
    height: 15px;
    width: 18px;
    margin-top: 3px;
    right: 0;
    float: right;

    @include breakpoint($screen-lg) {
      height: 20px;
      margin-top: 5px;
    }
  }

  .wishlist__icon {
    transition: fill 0.3s ease-out;
    -webkit-transition: fill 0.3s ease-out;
    height: 100%;
    width: 100%;
    fill: $c14;
    overflow: visible;

    &:first-child { display: block; }
    &:last-child { display: none; }
  }
}