.headerMain {
  padding-top: 10px;
  padding-bottom: 10px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);

  @include breakpoint($screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include breakpoint($screen-lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menuIcon {
    margin-right: auto;
  }

  .logo {
    display: block;
    margin-left: 20px;
    margin-right: 20px;

    @include breakpoint($screen-sm-min) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo__img {
    max-height:30px;
    display: block;

    @include breakpoint($screen-sm-min) {
      max-height:40px;
    }

    @include breakpoint($screen-lg) {
      max-height:50px;
    }
  }

  .cart {
    width: 25px;
    height: 25px;
    fill: $c10;
    margin-left: auto;

    @include breakpoint($screen-sm-min) {
      width: 30px;
      height: 30px;
    }
  }
}
