.headerTopRight {
  float: right;
}

.headerTopRight__item {
  text-transform: uppercase;
  height: $headerTopTablet-height;
  position: relative;
  overflow: hidden;

  @include breakpoint($screen-lg) {
    height: $headerTopDesktop-height;
  }
}

.headerTopRight__link {
  float: left;
  white-space: nowrap;
  line-height: $headerTopTablet-height;
  overflow: hidden;
  color: $c14;
  margin-right: 10px;

  &.is-active {
    color: $c2;
  }

  @include breakpoint($screen-lg) {
    line-height: $headerTopDesktop-height;
  }
}

.headerTopRight__separator {
  line-height: $headerTopTablet-height;
  float: left;
  margin-left: -5px;
  margin-right: 5px;
  color: $c14;

  @include breakpoint($screen-lg) {
    line-height: $headerTopDesktop-height;
  }
}

.headerTop__separator {
  height: $headerTop-separatorHeight;
  width: 1px;
  background: $c12;
  margin-top: ($headerTopTablet-height - $headerTop-separatorHeight) / 2;
  margin-left: 10px;
  margin-right: 10px;
  cursor: default;

  @include breakpoint($screen-lg) {
    margin-top: ($headerTopDesktop-height - $headerTop-separatorHeight) / 2;
  }

  &:last-child { display: none; }
}

.no-touchevents {
  .headerTopRight__item {
    &:hover {

      .headerTopRight__link {
        margin-right: 10px;
      }

      .headerTopRight__icon {
        fill: $c2;
      }

      .headerTopRight__link.is-active {
        color: $c2;
      }
    }
  }

  .headerTopRight__link:hover {
    color: $c2;
    cursor: pointer;
  }
}