.headerTop {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  color: $c2;
  height: 22px;
  border-bottom: 1px solid $border-color;
  overflow: hidden;

  @include breakpoint($screen-lg) {
    height: 30px;
  }
}

.headerTop > ul {
  overflow: hidden;
  height: 100%;

  & > li {
    list-style: none;
    float: left;
    cursor: pointer;

    &:after {
      content: "|";
      color: $c12;
      margin: 0 10px;
    }

    &:last-child {
      &:after {
        content: '';
        margin: 0;
      }
    }
  }
}

.headerTop__left {
  float: left;
}

.headerTop__right {
  float: right;

  & > li > * {
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
  }

  & > li:hover > * {
    opacity: 1;
  }
}


.headerTop {

  .currencies {
    float: left;
    text-transform: uppercase;
  }

  .currencies__list {
    list-style: none;
  }

  .currencies__item {
    margin-right: 15px;
    float: left;

    &.is-active {
      font-weight: 600;
    }
  }

  .countries {
    float: left;
    margin-left: 40px;
    text-transform: uppercase;
  }

  .countries__list {
    list-style: none;
  }

  .countries__item {
    margin-right: 15px;
    display: inline-block;
  }

  .myAccount {
    text-transform: uppercase;
    height: 22px;
    @include flexbox;
    @include align-items(center);

    @include breakpoint($screen-lg) {
      height: 30px;
    }
  }

  .myAccount__text {
    margin-right: 10px;
  }

  .myAccount__icon {
    height: 20px;
    width: 21px;
    fill: $c11;
    overflow: visible;
    opacity: 0.4;
  }

  .wishlist {
    height: 22px;
    @include flexbox;
    @include align-items(center);

    @include breakpoint($screen-lg) {
      height: 30px;
    }
  }

  .wishlist__icon {
    height: 15px;
    width: 18px;
    fill: transparent;
    stroke: $c11;
    stroke-width: 1px;
    overflow: visible;
    opacity: 0.4;

    &.active {
      fill: $c11;
    }
  }
}



