.headerTop {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  color: $c2;
  height: 22px;
  border-bottom: 1px solid $border-color;
  overflow: hidden;

  @include breakpoint($screen-lg) {
    line-height: 30px;
    height: 30px;
  }
}

.headerTop > .container > ul {
  overflow: hidden;
  height: 100%;

  & > li {
    list-style: none;
    float: left;
    cursor: pointer;
  }
}

.headerTop__left {
  float: left;
}

.headerTop__right {
  float: right;
}

.headerTop__separator {
  height: 14px;
  width: 1px;
  background: $c12;
  margin: 4px 10px;
  cursor: default;

  @include breakpoint($screen-lg) {
    margin: 8px 10px;
  }

  &:last-child { display: none; }
}

.headerTop {

  .currencies {
    float: left;
    text-transform: uppercase;
  }

  .currencies__list {
    list-style: none;
  }

  .currencies__item {
    margin-right: 15px;
    float: left;

    &.is-active {
      font-weight: 600;
    }
  }

  .countries {
    float: left;
    margin-left: 40px;
    text-transform: uppercase;
  }

  .countries__list {
    list-style: none;
  }

  .countries__item {
    margin-right: 15px;
    display: inline-block;
  }

  @import "header-myAccount";
  @import "header-wishlist";
}



