.headerTopLeft {
  float: left;

  .headerTopLeft__item {
    margin-right: 20px;

    &:hover {
      .headerTopLeft__img {
        transform: rotate(0deg);
        fill: $header-icon-color--active;
      }

      .headerTopLeft__option {
        max-width: 200px;
        margin-right: 10px;
      }
    }
  }

  .headerTopLeft__img {
    height: 8px;
    width: 8px;
    margin-top: 16px;
    margin-right: 5px;
    fill: $header-icon-color;
    float: left;
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform .3s ease-in-out, fill .3s linear;

    @include breakpoint($screen-lg) {
      margin-top: 10px;
    }
  }

  .headerTopLeft__options {
    list-style: none;
    float: left;
    text-transform: uppercase;
  }

  .headerTopLeft__option {
    float: left;
    max-width: 0;
    overflow: hidden;
    transition: all .3s linear;
    color: $header-top-dropdown-option;

    &:hover,
    &.active {
      max-width: 200px;
      color: $header-top-dropdown-option--active;
    }
  }
}