.headerTop {
  background: $header-top-background-color;
  font-size: 12px;
  line-height: $headerTopTablet-height;
  font-weight: 400;

  height: $headerTopTablet-height;
  border-bottom: 1px solid $mobile-border-color;
  overflow: hidden;

  @include breakpoint($screen-md) {
    border-color: $tablet-border-color;
  }

  @include breakpoint($screen-lg) {
    border-color: $desktop-border-color;
    line-height: $headerTopDesktop-height;
    height: $headerTopDesktop-height;
  }
}

.headerTop > .container {
  @include flexbox;
  @include justify-content(space-between);
  height: inherit;
}

.headerTop__items {
  @include flexbox;
  @include align-items(center);
  overflow: hidden;
  height: inherit;
}

.headerTop__separator {
  height: $headerTop-separatorHeight;
  width: 1px;
  background: $header-top-separator-color;
  margin-left: 10px;
  margin-right: 10px;
  cursor: default;

  &:last-child { display: none; }
}

.currency,
.language {
  margin-right: 20px;

  &:hover {
    .currency__img,
    .language__img {
      transform: rotate(0deg);
      fill: $header-icon-color--active;
    }

    .currency__option,
    .language__option {
      max-width: 200px;
      margin-right: 10px;
    }
  }
}

.currency__img,
.language__img {
  height: 8px;
  width: 8px;
  margin-top: 16px;
  margin-right: 5px;
  fill: $header-icon-color;
  float: left;
  transform: rotate(90deg);
  cursor: pointer;
  transition: transform .3s ease-in-out, fill .3s linear;

  @include breakpoint($screen-lg) {
    margin-top: 10px;
  }
}

.currency__select,
.language__select {
  list-style: none;
  float: left;
  text-transform: uppercase;
}

.currency__option,
.language__option {
  float: left;
  max-width: 0;
  overflow: hidden;
  transition: all .3s linear;
  color: $header-top-dropdown-option;

  &:hover,
  &.active {
    max-width: 200px;
    color: $header-top-dropdown-option--active;
  }
}

