.headerMain {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include breakpoint($screen-lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menuIcon {
    margin-right: auto;
  }

  .logo {
    display: block;
    margin-left: 20px;
    margin-right: 20px;

    @include breakpoint($screen-sm-min) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo--firstPositionMobile {
    @include breakpoint($screen-xs) {
      order: -1;
    }
  }

  .logo--firstPositionDesktop {
    @include breakpoint($screen-sm-min) {
      order: -1;
    }
  }

  .logo__img {
    max-width: $logoWidthMobile;
    display: block;

    @include breakpoint($screen-sm-min) {
      max-width: $logoWidthTablet;
    }

    @include breakpoint($screen-lg) {
      max-width: $logoWidthDesktop;
    }
  }

  .cart {
    width: 25px;
    height: 25px;
    fill: $header-main-cart-color;
    margin-left: auto;

    @include breakpoint($screen-sm-min) {
      width: 30px;
      height: 30px;
    }
  }
}
