.myAccount {
  text-transform: uppercase;
  height: 22px;
  position: relative;
  max-width: 22px;
  overflow: hidden;
  transition: max-width .5s ease-in-out;
  -webkit-transition: max-width .5s ease-in-out;

  @include breakpoint($screen-lg) {
    height: 30px;
  }

  &:hover {
    max-width: 200px;

    .myAccount__text {
      color: $c2;
    }

    .myAccount__icon {
      fill: $c2;
    }
  }

  &.active {
    .myAccount__icon:first-child { display: none; }
    .myAccount__icon:last-child { display: block; }
  }
}

.myAccount__text {
  transition: color .3s ease-out;
  transition-delay: .3s;
  -webkit-transition: color .3s ease-out;
  -webkit-transition-delay: .3s;
  color: $c13;
  float: left;
  white-space:nowrap;
  margin-right: 22px;
  padding-right: 10px;
  line-height: 22px;

  @include breakpoint($screen-lg) {
    line-height: 30px;
  }
}

.myAccount__img {
  background: $page-background-color;
  height: 17px;
  width: 22px;
  position: absolute;
  top: 2px;
  right: 0;

  @include breakpoint($screen-lg) {
    height: 20px;
    top: 5px;
  }
}

.myAccount__icon {
  height: 100%;
  width: 100%;
  fill: $c14;
  overflow: visible;
  transition: fill 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;

  &:first-child { display: block; }
  &:last-child { display: none; }
}