.myAccount {
  text-transform: uppercase;

  .myAccount__link {
    float: left;
    color: $header-link-color;
    padding-right: 10px;
    transition: color .3s ease-in-out;
    cursor: pointer;

    &.is-active {
      color: $header-link-color--active;
    }
  }

  &:hover,
  &.is-active {
    .myAccount__icon {
      fill: $header-icon-color--active;
    }
  }
}

// Left Side - hidden links
.myAccount__leftSide {
  white-space: nowrap;
  float: left;
  overflow: hidden;

  &.is-animated {
    transition: all .3s ease-in-out;
  }

  .myAccount__separator,
  .myAccount__link {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .myAccount__separator {
    margin-left: -5px;
    margin-right: 5px;
    color: $header-top-separator-color;
  }
}

// Right Side - welcome message + icon
.myAccount__rightSide {
  float: left;
  overflow: hidden;
  cursor: pointer;

  .myAccount__link {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;

    &.is-animated {
      transition: all .3s ease-in-out;
    }
  }

  .myAccount__img {
    position: relative;
    height: $headerTopTabletIcon-height;
    width: $headerTopTabletIcon-height + 2;
    margin-top: ($headerTopTablet-height - $headerTopTabletIcon-height) / 2;
    float: right;

    @include breakpoint($screen-lg) {
      height: $headerTopDesktopIcon-height;
      width: $headerTopDesktopIcon-height + 2;
      margin-top: ($headerTopDesktop-height - $headerTopDesktopIcon-height) / 2;
    }
  }

  .myAccount__icon {
    transition: fill 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    fill: $header-icon-color;
    overflow: visible;
  }

  .myAccount__gravatar {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 100px;
    }

    & + .myAccount__icon {
      border-radius: 100px;
      overflow: hidden;
    }
  }
}