.wishList {
  @include flexbox;
  @include align-items(center);
  text-transform: uppercase;
  cursor: pointer;

  .wishList__link {
    color: $header-link-color;
    padding-right: 10px;
    cursor: pointer;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;

    &.is-active {
      color: $header-link-color--active;
    }

    &.is-animated {
      transition: all .3s ease-in-out;
    }
  }

  .wishList__icon {
    transition: fill 0.3s ease-in-out;
    height: $headerTopTabletIcon-height;
    width: $headerTopTabletIcon-height + 2;
    fill: $header-icon-color;
    overflow: visible;

    &:last-child {
      display: none;
    }

    @include breakpoint($screen-lg) {
      height: $headerTopDesktopIcon-height;
      width: $headerTopDesktopIcon-height + 2;
    }
  }

  .wishList__counter {
    font-size: 10px;
    line-height: 10px;
    float: right;
    color: $header-link-color;
    margin-left: 2px;
    display: none;
  }

  .wishList__img {
    display: block;
    position: relative;
    height: $headerTopTabletIcon-height;

    @include breakpoint($screen-lg) {
      height: $headerTopDesktopIcon-height;
    }
  }

  .wishList__img.is-active {
    .wishList__icon {
      display: none;

      &:last-child {
        display: block;
      }
    }

    .wishList__counter {
      display: block;
    }
  }

  &:hover,
  &.is-active {
    .wishList__icon {
      fill: $header-icon-color--active;
    }

    .wishList__counter {
      color: $header-link-color--active;
    }
  }
}