.wishlist {
  text-transform: uppercase;
  cursor: pointer;

  .wishlist__link {
    color: $c14;
    padding-right: 10px;
    cursor: pointer;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;

    &.is-active {
      color: $c2;
    }

    &.is-animated {
      transition: all .3s ease-in-out;
    }
  }

  .wishlist__img {
    position: relative;
    height: $headerTopTabletIcon-height;
    width: $headerTopTabletIcon-height + 2;
    margin-top: ($headerTopTablet-height - $headerTopTabletIcon-height) / 2;
    float: right;

    @include breakpoint($screen-lg) {
      height: $headerTopDesktopIcon-height;
      width: $headerTopDesktopIcon-height + 2;
      margin-top: ($headerTopDesktop-height - $headerTopDesktopIcon-height) / 2;
    }
  }

  .wishlist__icon {
    transition: fill 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    fill: $c14;
    overflow: visible;
  }

  &:hover,
  &.is-active {
    .wishlist__icon {
      fill: $c2;
    }
  }
}