// Page Colors
$page-background-color: #{'{{ settings.page_background_color }}'};
$page-text-color: #{'{{ settings.page_text_color }}'};
$page-link-color: #{'{{ settings.page_link_color }}'};
$border-color: #{'{{ settings.page_border_color }}'};

// Other Colors
$c0: #000;
$c1: #E6E6E6;
$c2: #444;
$c3: #2F5A59;
$c4: #FFF;
$c5: #343434;
$c6: #B4B4B4;
$c7: #999;
$c8: #F7F7F7;
$c9: #777;
$c10: #9A9A9A;
$c11: #696969;