<div class="headerTop hidden-xs">
  <div class="container noClear">
    <div class="headerTop__items">
      {% include 'header-my-account', position: 'top_left' %}
      {% include 'header-wish-list', position:'top_left' %}
    </div>

    <div class="headerTop__items">
    </div>

    <div class="headerTop__items">
      {% include 'header-my-account', position: 'top_right' %}
      {% include 'header-wish-list', position:'top_right' %}
    </div>
  </div>
</div>
