<div class="language">
  <svg class="language__img">
    <use xlink:href="#arrow2"></use>
  </svg>
  <ul class="language__select">
    <li class="language__option active">English</li>
    <li class="language__option">Espanol</li>
  </ul>
</div>
