<div class="headerMain container noClear">
  <div class="headerMain__items">
    {% comment %} <!-- Logo --> {% endcomment %}
    {% if settings.logo_position_desktop == 'left' %}
    {% include 'header-logo' %}
    {% endif %}

    {% include 'header-my-account' with position:'main_left'%}
  </div>

  <div class="headerMain__items">
    {% comment %} <!-- Logo --> {% endcomment %}
    {% if settings.logo_position_desktop == 'center' %}
    {% include 'header-logo' %}
    {% endif %}
  </div>

  <div class="headerMain__items">
    {% include 'header-my-account' with position: 'right'%}

    {% comment %} <!-- Cart - Main Area - Right Side --> {% endcomment %}
    {% include 'header-cart' %}
  </div>
</div>
