<div class="currency" data-ss-init="CurrenciesComponent">
  <svg class="currency__img">
    <use xlink:href="#arrow2"></use>
  </svg>
  <ul class="currency__select">
    <li class="active currency__option">€EUR</li>
    <li class="currency__option">£GBP</li>
    <li class="currency__option">$USD</li>
  </ul>
</div>
