<header role="banner" class="mainHeader header">
  <div class="headerTop hidden-xs">
    <div class="container">
      <ul class="headerTop__left">
        <li class="currencies" data-ss-init="CurrenciesComponent" data-ss-state="onReady">
          <ul class="currencies__list">
            <li class="currencies__item is-active">€EUR</li>
            <li class="currencies__item">£GBP</li>
            <li class="currencies__item">$USD</li>
          </ul>
        </li>
        <li class="countries">
          <ul class="countries__list">
            <li class="countries__item">English</li>
            <li class="countries__item">Espanol</li>
          </ul>
        </li>
      </ul>

      <ul class="headerTop__right">
        <li class="wishlist">
          <span class="wishlist__text">My Wishlist</span>
          <picture class="wishlist__img">
            <svg class="wishlist__icon">
              <use xlink:href="#wishlist-1"></use>
            </svg>
            <svg class="wishlist__icon">
              <use xlink:href="#wishlist-2"></use>
            </svg>
          </picture>
        </li>
        <li class="headerTop__separator"></li>
        <li class="myAccount">
          <span class="myAccount__text">Sign In - Register</span>
          <picture class="myAccount__img">
            <svg class="myAccount__icon">
              <use xlink:href="#user-1"></use>
            </svg>
            <svg class="myAccount__icon">
              <use xlink:href="#user-2"></use>
            </svg>
          </picture>
        </li>
      </ul>
    </div>
  </div>

  <div class="headerMain container">
    <div class="menuIcon menuIcon--x visible-xs" data-ss-init="MenuComponent" data-ss-state="onReady">
      <span>toggle menu</span>
    </div>
    {% if settings.use_logo %}
      <a class="logo" href="/">
        <img class="logo__img" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
      </a>
    {% else %}
      <a id="site-title" href="/">
        {{ shop.name }}
      </a>
    {% endif %}
    <svg class="cart">
      <use xlink:href="#cart"></use>
    </svg>

  </div>
  <div class="headerBottom">
    <div class="topInfo"><div class="container">Info</div></div>
    <div class="breadcrumb">Navigation</div>
  </div>
</header>
