<div class="headerMain container noClear
    {% if settings.logo_position_mobile == '' %}headerMain--stretchedItems{% endif %}">
  <div class="headerMain__items">
    {% comment %} <!-- Menu Burger Icon --> {% endcomment %}
    {% if settings.logo_position_mobile == '' %}
    {% include 'header-menu-mobile' %}
    {% endif %}

    {% comment %} <!-- My Account - Main Area - Left Side  --> {% endcomment %}
    {% if settings.logo_position_desktop == '' %}
    {% if settings.my_account_position_desktop == 'main_left' %}
    {% include 'header-my-account' with position:'left', isVisibleOnDesktop:'true' %}
    {% endif %}
    {% endif %}
  </div>

  {% comment %} <!-- The order of the main elements is changed with CSS flexbox --> {% endcomment %}
  <div class="headerMain__items {{settings.logo_position_mobile}} {{settings.logo_position_desktop}}">

    {% comment %} <!-- Menu Burger Icon --> {% endcomment %}
    {% unless settings.logo_position_mobile == '' %}
    {% include 'header-menu-mobile' %}
    {% endunless %}

    {% comment %} <!-- Logo --> {% endcomment %}
    {% include 'header-logo' %}
  </div>

  <div class="headerMain__items">
    {% comment %} <!-- My Account - Main Area - Right Side --> {% endcomment %}
    {% if settings.my_account_position_desktop == 'main_right'%} {% assign isVisibleOnDesktop = 'true' %} {% endif %}
    {% if settings.my_account_position_mobile == 'right'%} {% assign isVisibleOnMobile = 'true' %} {% endif %}

    {% if settings.my_account_position_desktop == 'main_right' or settings.my_account_position_mobile == 'right' %}
    {% include 'header-my-account' with isVisibleOnDesktop, isVisibleOnMobile %}
    {% endif %}

    {% comment %} <!-- Cart - Main Area - Right Side --> {% endcomment %}
    {% include 'header-cart' %}
  </div>
</div>
