<div class="headerMain container noClear">
  <div class="headerMain__items">
    {% if settings.logo_position_mobile == '' %}
      {% include 'header-menu-mobile' %}
    {% endif %}
  </div>

  <div class="headerMain__items {{settings.logo_position_mobile}} {{settings.logo_position_desktop}}">
    {% unless settings.logo_position_mobile == '' %}
      {% include 'header-menu-mobile' %}
    {% endunless %}
    {% include 'header-logo' %}
  </div>

  <div class="headerMain__items">
    {% include 'header-cart' %}
  </div>
</div>
