<header role="banner" class="mainHeader header">
  <div class="headerTop container hidden-xs">
    <div class="currencies" data-ss-init="CurrenciesComponent" data-ss-state="onReady">
      <ul class="currencies__list">
        <li class="currencies__item is-active">€EUR</li>
        <li class="currencies__item">£GBP</li>
        <li class="currencies__item">$USD</li>
      </ul>
    </div>
    <div class="countries">
      <ul class="countries__list">
        <li class="countries__item">GB</li>
        <li class="countries__item">ES</li>
      </ul>
    </div>
    <ul class="headerTop__right">
      <li class="wishlist">
        <svg class="wishlist__icon">
          <use xlink:href="#heart"></use>
        </svg>
      </li>
      <li class="myAccount">
        <span class="myAccount__text">Sign In - Register</span>
        <svg class="myAccount__icon">
          <use xlink:href="#user"></use>
        </svg>
      </li>
    </ul>

  </div>
  <div class="headerMain container">
    <div class="menuIcon menuIcon--x visible-xs" data-ss-init="MenuComponent" data-ss-state="onReady">
      <span>toggle menu</span>
    </div>
    {% if settings.use_logo %}
      <a class="logo" href="/">
        <img class="logo__img" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
      </a>
    {% else %}
      <a id="site-title" href="/">
        {{ shop.name }}
      </a>
    {% endif %}
    <svg class="cart">
      <use xlink:href="#cart"></use>
    </svg>

  </div>
  <div class="headerBottom">
    <div class="topInfo">Info</div>
    <div class="breadcrumb">Navigation</div>
  </div>
</header>
