<div class="headerTop hidden-xs">
  <div class="container noClear">
    <div class="headerTop__items">
      {% if settings.my_account_position_desktop == 'top_left' %}
        {% assign position = 'left' %}
        {% include 'header-my-account' %}
      {% endif %}

      {% include 'header-currency' %}
      {% include 'header-language' %}
    </div>

    <div class="headerTop__items">
      {% if settings.wishlist_position_desktop == 'top_right' %}
        {% include 'header-wish-list' %}
      {% endif %}
      {% if settings.my_account_position_desktop == 'top_right' %}
        {% assign position = 'right' %}
        {% include 'header-my-account' %}
      {% endif %}
    </div>
  </div>
</div>
