body {
  background: $page-background-color;
  color: $page-text-color;
}

a {
  color: $page-link-color;
  text-decoration: none;
}

.container {
  @include container;

  @include susy-media($b2) {
    @include container($m);
  }

  @include susy-media($b3) {
    @include container($l);
  }

  @include susy-media($b4) {
    @include container($xl);
  }

  height: 100vh;
}

.col {
  @include mq(1,4) {
    @include gallery(1);
  }

  background: red;
  height: 100%;
}
