body {
  background: $page-background-color;
  color: $page-text-color;
}

a {
  color: $page-link-color;
  text-decoration: none;
}

.container {
  @include container;
  height: 100vh;
}

.col {
  @include gallery(1);
  background: red;
  height: 100%;
}
