/*============================================================================
  #Grid setup
==============================================================================*/

.container:after {
  content: "";
  display: table;
  clear: both;
}

.row:before, .row-reverse:before, .row:after, .row-reverse:after {
  content: "";
  display: table;
}

.row:after, .row-reverse:after {
  clear: both;
}

.row, .row-reverse {
  zoom: 1;
}

.gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12 {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 0.78125%;
  padding-left: 0.78125%;
}

.gr-adapt {
  display: table-cell;
  width: 1px;
  white-space: nowrap !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.78125%;
  padding-left: 0.78125%;
}

.gr-grow {
  display: table-cell;
  width: 99999px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.78125%;
  padding-left: 0.78125%;
}

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
  position: relative;
}

.pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.nowrap > * {
  white-space: normal;
}

.wrap {
  white-space: normal;
}

.gr-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

@media screen and (min-width: 480px) {
  .container\@tablet:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 480px) {
  .row\@tablet:before, .row-reverse\@tablet:before, .row\@tablet:after, .row-reverse\@tablet:after {
    content: "";
    display: table;
  }
  .row\@tablet:after, .row-reverse\@tablet:after {
    clear: both;
  }
  .row\@tablet, .row-reverse\@tablet {
    zoom: 1;
  }
}

@media screen and (min-width: 480px) {
  .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 480px) {
  .gr-adapt\@tablet {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 480px) {
  .gr-grow\@tablet {
    display: table-cell;
    width: 99999px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 480px) {
  .push-0\@tablet, .push-1\@tablet, .push-2\@tablet, .push-3\@tablet, .push-4\@tablet, .push-5\@tablet, .push-6\@tablet, .push-7\@tablet, .push-8\@tablet, .push-9\@tablet, .push-10\@tablet, .push-11\@tablet, .push-12\@tablet {
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .pull-0\@tablet, .pull-1\@tablet, .pull-2\@tablet, .pull-3\@tablet, .pull-4\@tablet, .pull-5\@tablet, .pull-6\@tablet, .pull-7\@tablet, .pull-8\@tablet, .pull-9\@tablet, .pull-10\@tablet, .pull-11\@tablet, .pull-12\@tablet {
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .nowrap\@tablet {
    white-space: nowrap;
  }
  .nowrap\@tablet > * {
    white-space: normal;
  }
}

@media screen and (min-width: 480px) {
  .wrap\@tablet {
    white-space: normal;
  }
}

@media screen and (min-width: 480px) {
  .gr-centered\@tablet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}

@media screen and (min-width: 1024px) {
  .container\@desktop:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 1024px) {
  .row\@desktop:before, .row-reverse\@desktop:before, .row\@desktop:after, .row-reverse\@desktop:after {
    content: "";
    display: table;
  }
  .row\@desktop:after, .row-reverse\@desktop:after {
    clear: both;
  }
  .row\@desktop, .row-reverse\@desktop {
    zoom: 1;
  }
}

@media screen and (min-width: 1024px) {
  .gr-0\@desktop, .gr-1\@desktop, .gr-2\@desktop, .gr-3\@desktop, .gr-4\@desktop, .gr-5\@desktop, .gr-6\@desktop, .gr-7\@desktop, .gr-8\@desktop, .gr-9\@desktop, .gr-10\@desktop, .gr-11\@desktop, .gr-12\@desktop {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 1024px) {
  .gr-adapt\@desktop {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 1024px) {
  .gr-grow\@desktop {
    display: table-cell;
    width: 99999px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0.78125%;
    padding-left: 0.78125%;
  }
}

@media screen and (min-width: 1024px) {
  .push-0\@desktop, .push-1\@desktop, .push-2\@desktop, .push-3\@desktop, .push-4\@desktop, .push-5\@desktop, .push-6\@desktop, .push-7\@desktop, .push-8\@desktop, .push-9\@desktop, .push-10\@desktop, .push-11\@desktop, .push-12\@desktop {
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .pull-0\@desktop, .pull-1\@desktop, .pull-2\@desktop, .pull-3\@desktop, .pull-4\@desktop, .pull-5\@desktop, .pull-6\@desktop, .pull-7\@desktop, .pull-8\@desktop, .pull-9\@desktop, .pull-10\@desktop, .pull-11\@desktop, .pull-12\@desktop {
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .nowrap\@desktop {
    white-space: nowrap;
  }
  .nowrap\@desktop > * {
    white-space: normal;
  }
}

@media screen and (min-width: 1024px) {
  .wrap\@desktop {
    white-space: normal;
  }
}

@media screen and (min-width: 1024px) {
  .gr-centered\@desktop {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}

#gridle-settings {
  content: '{ "version" : "2.0.48", "states" : { "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "1.5625%", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "0.78125%", "gutter-bottom" : "0", "gutter-left" : "0.78125%", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }, "tablet":{ "name" : "tablet", "min-width" : "480px", "max-width" : null, "query" : "screen and (min-width: 480px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "2.604%", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "1.302%", "gutter-bottom" : "0", "gutter-left" : "1.302%", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }, "desktop":{ "name" : "desktop", "min-width" : "1024px", "max-width" : null, "query" : "screen and (min-width: 1024px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "24px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "12px", "gutter-bottom" : "0", "gutter-left" : "12px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }} }';
}

.gr-0 {
  width: 0%;
}

.push-0 {
  left: 0%;
  right: auto;
}

.pull-0 {
  right: 0%;
  left: auto;
}

.prefix-0 {
  margin-left: 0%;
}

.suffix-0 {
  margin-right: 0%;
}

.gr-1 {
  width: 8.33333%;
}

.push-1 {
  left: 8.33333%;
  right: auto;
}

.pull-1 {
  right: 8.33333%;
  left: auto;
}

.prefix-1 {
  margin-left: 8.33333%;
}

.suffix-1 {
  margin-right: 8.33333%;
}

.gr-2 {
  width: 16.66667%;
}

.push-2 {
  left: 16.66667%;
  right: auto;
}

.pull-2 {
  right: 16.66667%;
  left: auto;
}

.prefix-2 {
  margin-left: 16.66667%;
}

.suffix-2 {
  margin-right: 16.66667%;
}

.gr-3 {
  width: 25%;
}

.push-3 {
  left: 25%;
  right: auto;
}

.pull-3 {
  right: 25%;
  left: auto;
}

.prefix-3 {
  margin-left: 25%;
}

.suffix-3 {
  margin-right: 25%;
}

.gr-4 {
  width: 33.33333%;
}

.push-4 {
  left: 33.33333%;
  right: auto;
}

.pull-4 {
  right: 33.33333%;
  left: auto;
}

.prefix-4 {
  margin-left: 33.33333%;
}

.suffix-4 {
  margin-right: 33.33333%;
}

.gr-5 {
  width: 41.66667%;
}

.push-5 {
  left: 41.66667%;
  right: auto;
}

.pull-5 {
  right: 41.66667%;
  left: auto;
}

.prefix-5 {
  margin-left: 41.66667%;
}

.suffix-5 {
  margin-right: 41.66667%;
}

.gr-6 {
  width: 50%;
}

.push-6 {
  left: 50%;
  right: auto;
}

.pull-6 {
  right: 50%;
  left: auto;
}

.prefix-6 {
  margin-left: 50%;
}

.suffix-6 {
  margin-right: 50%;
}

.gr-7 {
  width: 58.33333%;
}

.push-7 {
  left: 58.33333%;
  right: auto;
}

.pull-7 {
  right: 58.33333%;
  left: auto;
}

.prefix-7 {
  margin-left: 58.33333%;
}

.suffix-7 {
  margin-right: 58.33333%;
}

.gr-8 {
  width: 66.66667%;
}

.push-8 {
  left: 66.66667%;
  right: auto;
}

.pull-8 {
  right: 66.66667%;
  left: auto;
}

.prefix-8 {
  margin-left: 66.66667%;
}

.suffix-8 {
  margin-right: 66.66667%;
}

.gr-9 {
  width: 75%;
}

.push-9 {
  left: 75%;
  right: auto;
}

.pull-9 {
  right: 75%;
  left: auto;
}

.prefix-9 {
  margin-left: 75%;
}

.suffix-9 {
  margin-right: 75%;
}

.gr-10 {
  width: 83.33333%;
}

.push-10 {
  left: 83.33333%;
  right: auto;
}

.pull-10 {
  right: 83.33333%;
  left: auto;
}

.prefix-10 {
  margin-left: 83.33333%;
}

.suffix-10 {
  margin-right: 83.33333%;
}

.gr-11 {
  width: 91.66667%;
}

.push-11 {
  left: 91.66667%;
  right: auto;
}

.pull-11 {
  right: 91.66667%;
  left: auto;
}

.prefix-11 {
  margin-left: 91.66667%;
}

.suffix-11 {
  margin-right: 91.66667%;
}

.gr-12 {
  width: 100%;
}

.push-12 {
  left: 100%;
  right: auto;
}

.pull-12 {
  right: 100%;
  left: auto;
}

.prefix-12 {
  margin-left: 100%;
}

.suffix-12 {
  margin-right: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.no-gutter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-right {
  padding-right: 0;
}

.no-gutter-top {
  padding-top: 0;
}

.no-gutter-bottom {
  padding-bottom: 0;
}

.gutter {
  padding-right: 0.78125%;
  padding-left: 0.78125%;
}

.gutter-left {
  padding-left: 0.78125%;
}

.gutter-right {
  padding-right: 0.78125%;
}

.auto-height {
  height: inherit;
}

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -0.78125%;
  margin-right: -0.78125%;
}

[class*="no-gutter"] > .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -0.78125%;
  margin-right: -0.78125%;
  transform: rotateY(180deg);
}

.row-reverse > [class*="gr-"] {
  transform: rotateY(-180deg);
}

[class*="no-gutter"] > .row-reverse {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-full {
  width: 100vw;
  margin-left: 50% !important;
  margin-right: 0 !important;
  -webkit-transform: translateX(-50%);
  -moz-transition: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -0.78125%;
  margin-right: -0.78125%;
}

.col-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -0.78125%;
  margin-right: -0.78125%;
  transform: rotateX(180deg);
}

.col-reverse > [class*="gr-"] {
  transform: rotateX(-180deg);
}

.gr-table {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.row-align-left {
  font-size: 0;
  clear: both;
  text-align: left;
}

.row-align-left > * {
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-left > * {
    margin-right: -0.5px;
  }
}

.row-align-center {
  font-size: 0;
  clear: both;
  text-align: center;
}

.row-align-center > * {
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-center > * {
    margin-right: -0.5px;
  }
}

.row-align-center > * {
  text-align: left;
}

.row-align-right {
  font-size: 0;
  clear: both;
  text-align: right;
}

.row-align-right > * {
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-right > * {
    margin-right: -0.5px;
  }
}

.row-align-right > * {
  text-align: left;
}

.row-align-middle {
  font-size: 0;
  clear: both;
  vertical-align: middle;
}

.row-align-middle > * {
  float: none !important;
  vertical-align: middle;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-middle > * {
    margin-right: -0.5px;
  }
}

.row-align-top {
  font-size: 0;
  clear: both;
  vertical-align: top;
}

.row-align-top > * {
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-top > * {
    margin-right: -0.5px;
  }
}

.row-align-bottom {
  font-size: 0;
  clear: both;
  vertical-align: bottom;
}

.row-align-bottom > * {
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

@-moz-document url-prefix() {
  .row-align-bottom > * {
    margin-right: -0.5px;
  }
}

.hide {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

.visible {
  visibility: visible;
}

.row-debug {
  position: relative;
  z-index: 99999;
  overflow: hidden;
}

.row-debug:before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99999px;
  background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
  background-size: 16.66667% 100%;
  z-index: 99999;
}

body {
  direction: ltr;
}

@media screen and (min-width: 480px) {
  .gr-0\@tablet {
    width: 0%;
  }
  .push-0\@tablet {
    left: 0%;
    right: auto;
  }
  .pull-0\@tablet {
    right: 0%;
    left: auto;
  }
  .prefix-0\@tablet {
    margin-left: 0%;
  }
  .suffix-0\@tablet {
    margin-right: 0%;
  }
  .gr-1\@tablet {
    width: 8.33333%;
  }
  .push-1\@tablet {
    left: 8.33333%;
    right: auto;
  }
  .pull-1\@tablet {
    right: 8.33333%;
    left: auto;
  }
  .prefix-1\@tablet {
    margin-left: 8.33333%;
  }
  .suffix-1\@tablet {
    margin-right: 8.33333%;
  }
  .gr-2\@tablet {
    width: 16.66667%;
  }
  .push-2\@tablet {
    left: 16.66667%;
    right: auto;
  }
  .pull-2\@tablet {
    right: 16.66667%;
    left: auto;
  }
  .prefix-2\@tablet {
    margin-left: 16.66667%;
  }
  .suffix-2\@tablet {
    margin-right: 16.66667%;
  }
  .gr-3\@tablet {
    width: 25%;
  }
  .push-3\@tablet {
    left: 25%;
    right: auto;
  }
  .pull-3\@tablet {
    right: 25%;
    left: auto;
  }
  .prefix-3\@tablet {
    margin-left: 25%;
  }
  .suffix-3\@tablet {
    margin-right: 25%;
  }
  .gr-4\@tablet {
    width: 33.33333%;
  }
  .push-4\@tablet {
    left: 33.33333%;
    right: auto;
  }
  .pull-4\@tablet {
    right: 33.33333%;
    left: auto;
  }
  .prefix-4\@tablet {
    margin-left: 33.33333%;
  }
  .suffix-4\@tablet {
    margin-right: 33.33333%;
  }
  .gr-5\@tablet {
    width: 41.66667%;
  }
  .push-5\@tablet {
    left: 41.66667%;
    right: auto;
  }
  .pull-5\@tablet {
    right: 41.66667%;
    left: auto;
  }
  .prefix-5\@tablet {
    margin-left: 41.66667%;
  }
  .suffix-5\@tablet {
    margin-right: 41.66667%;
  }
  .gr-6\@tablet {
    width: 50%;
  }
  .push-6\@tablet {
    left: 50%;
    right: auto;
  }
  .pull-6\@tablet {
    right: 50%;
    left: auto;
  }
  .prefix-6\@tablet {
    margin-left: 50%;
  }
  .suffix-6\@tablet {
    margin-right: 50%;
  }
  .gr-7\@tablet {
    width: 58.33333%;
  }
  .push-7\@tablet {
    left: 58.33333%;
    right: auto;
  }
  .pull-7\@tablet {
    right: 58.33333%;
    left: auto;
  }
  .prefix-7\@tablet {
    margin-left: 58.33333%;
  }
  .suffix-7\@tablet {
    margin-right: 58.33333%;
  }
  .gr-8\@tablet {
    width: 66.66667%;
  }
  .push-8\@tablet {
    left: 66.66667%;
    right: auto;
  }
  .pull-8\@tablet {
    right: 66.66667%;
    left: auto;
  }
  .prefix-8\@tablet {
    margin-left: 66.66667%;
  }
  .suffix-8\@tablet {
    margin-right: 66.66667%;
  }
  .gr-9\@tablet {
    width: 75%;
  }
  .push-9\@tablet {
    left: 75%;
    right: auto;
  }
  .pull-9\@tablet {
    right: 75%;
    left: auto;
  }
  .prefix-9\@tablet {
    margin-left: 75%;
  }
  .suffix-9\@tablet {
    margin-right: 75%;
  }
  .gr-10\@tablet {
    width: 83.33333%;
  }
  .push-10\@tablet {
    left: 83.33333%;
    right: auto;
  }
  .pull-10\@tablet {
    right: 83.33333%;
    left: auto;
  }
  .prefix-10\@tablet {
    margin-left: 83.33333%;
  }
  .suffix-10\@tablet {
    margin-right: 83.33333%;
  }
  .gr-11\@tablet {
    width: 91.66667%;
  }
  .push-11\@tablet {
    left: 91.66667%;
    right: auto;
  }
  .pull-11\@tablet {
    right: 91.66667%;
    left: auto;
  }
  .prefix-11\@tablet {
    margin-left: 91.66667%;
  }
  .suffix-11\@tablet {
    margin-right: 91.66667%;
  }
  .gr-12\@tablet {
    width: 100%;
  }
  .push-12\@tablet {
    left: 100%;
    right: auto;
  }
  .pull-12\@tablet {
    right: 100%;
    left: auto;
  }
  .prefix-12\@tablet {
    margin-left: 100%;
  }
  .suffix-12\@tablet {
    margin-right: 100%;
  }
  .float-left\@tablet {
    float: left;
  }
  .float-right\@tablet {
    float: right;
  }
  .clear\@tablet {
    clear: both;
  }
  .clear-left\@tablet {
    clear: left;
  }
  .clear-right\@tablet {
    clear: right;
  }
  .no-gutter\@tablet {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .no-gutter-left\@tablet {
    padding-left: 0;
  }
  .no-gutter-right\@tablet {
    padding-right: 0;
  }
  .no-gutter-top\@tablet {
    padding-top: 0;
  }
  .no-gutter-bottom\@tablet {
    padding-bottom: 0;
  }
  .gutter\@tablet {
    padding-right: 1.302%;
    padding-left: 1.302%;
  }
  .gutter-left\@tablet {
    padding-left: 1.302%;
  }
  .gutter-right\@tablet {
    padding-right: 1.302%;
  }
  .auto-height\@tablet {
    height: inherit;
  }
  .row\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -1.302%;
    margin-right: -1.302%;
  }
  [class*="no-gutter"] > .row\@tablet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -1.302%;
    margin-right: -1.302%;
    transform: rotateY(180deg);
  }
  .row-reverse\@tablet > [class*="gr-"] {
    transform: rotateY(-180deg);
  }
  [class*="no-gutter"] > .row-reverse\@tablet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-full\@tablet {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .col\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -1.302%;
    margin-right: -1.302%;
  }
  .col-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -1.302%;
    margin-right: -1.302%;
    transform: rotateX(180deg);
  }
  .col-reverse\@tablet > [class*="gr-"] {
    transform: rotateX(-180deg);
  }
  .gr-table\@tablet {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .row-align-left\@tablet {
    font-size: 0;
    clear: both;
    text-align: left;
  }
  .row-align-left\@tablet > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-left\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .row-align-center\@tablet {
    font-size: 0;
    clear: both;
    text-align: center;
  }
  .row-align-center\@tablet > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-center\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .row-align-center\@tablet > * {
    text-align: left;
  }
  .row-align-right\@tablet {
    font-size: 0;
    clear: both;
    text-align: right;
  }
  .row-align-right\@tablet > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-right\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .row-align-right\@tablet > * {
    text-align: left;
  }
  .row-align-middle\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: middle;
  }
  .row-align-middle\@tablet > * {
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-middle\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .row-align-top\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: top;
  }
  .row-align-top\@tablet > * {
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-top\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .row-align-bottom\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: bottom;
  }
  .row-align-bottom\@tablet > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-bottom\@tablet > * {
      margin-right: -0.5px;
    }
  }
  .hide\@tablet {
    display: none;
  }
  .not-visible\@tablet {
    visibility: hidden;
  }
  .show\@tablet {
    display: block;
  }
  .show-inline\@tablet {
    display: inline-block;
  }
  .visible\@tablet {
    visibility: visible;
  }
  .row-debug\@tablet {
    position: relative;
    z-index: 99999;
    overflow: hidden;
  }
  .row-debug\@tablet:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
    background-size: 16.66667% 100%;
    z-index: 99999;
  }
  body {
    direction: ltr;
  }
}

@media screen and (min-width: 1024px) {
  .gr-0\@desktop {
    width: 0%;
  }
  .push-0\@desktop {
    left: 0%;
    right: auto;
  }
  .pull-0\@desktop {
    right: 0%;
    left: auto;
  }
  .prefix-0\@desktop {
    margin-left: 0%;
  }
  .suffix-0\@desktop {
    margin-right: 0%;
  }
  .gr-1\@desktop {
    width: 8.33333%;
  }
  .push-1\@desktop {
    left: 8.33333%;
    right: auto;
  }
  .pull-1\@desktop {
    right: 8.33333%;
    left: auto;
  }
  .prefix-1\@desktop {
    margin-left: 8.33333%;
  }
  .suffix-1\@desktop {
    margin-right: 8.33333%;
  }
  .gr-2\@desktop {
    width: 16.66667%;
  }
  .push-2\@desktop {
    left: 16.66667%;
    right: auto;
  }
  .pull-2\@desktop {
    right: 16.66667%;
    left: auto;
  }
  .prefix-2\@desktop {
    margin-left: 16.66667%;
  }
  .suffix-2\@desktop {
    margin-right: 16.66667%;
  }
  .gr-3\@desktop {
    width: 25%;
  }
  .push-3\@desktop {
    left: 25%;
    right: auto;
  }
  .pull-3\@desktop {
    right: 25%;
    left: auto;
  }
  .prefix-3\@desktop {
    margin-left: 25%;
  }
  .suffix-3\@desktop {
    margin-right: 25%;
  }
  .gr-4\@desktop {
    width: 33.33333%;
  }
  .push-4\@desktop {
    left: 33.33333%;
    right: auto;
  }
  .pull-4\@desktop {
    right: 33.33333%;
    left: auto;
  }
  .prefix-4\@desktop {
    margin-left: 33.33333%;
  }
  .suffix-4\@desktop {
    margin-right: 33.33333%;
  }
  .gr-5\@desktop {
    width: 41.66667%;
  }
  .push-5\@desktop {
    left: 41.66667%;
    right: auto;
  }
  .pull-5\@desktop {
    right: 41.66667%;
    left: auto;
  }
  .prefix-5\@desktop {
    margin-left: 41.66667%;
  }
  .suffix-5\@desktop {
    margin-right: 41.66667%;
  }
  .gr-6\@desktop {
    width: 50%;
  }
  .push-6\@desktop {
    left: 50%;
    right: auto;
  }
  .pull-6\@desktop {
    right: 50%;
    left: auto;
  }
  .prefix-6\@desktop {
    margin-left: 50%;
  }
  .suffix-6\@desktop {
    margin-right: 50%;
  }
  .gr-7\@desktop {
    width: 58.33333%;
  }
  .push-7\@desktop {
    left: 58.33333%;
    right: auto;
  }
  .pull-7\@desktop {
    right: 58.33333%;
    left: auto;
  }
  .prefix-7\@desktop {
    margin-left: 58.33333%;
  }
  .suffix-7\@desktop {
    margin-right: 58.33333%;
  }
  .gr-8\@desktop {
    width: 66.66667%;
  }
  .push-8\@desktop {
    left: 66.66667%;
    right: auto;
  }
  .pull-8\@desktop {
    right: 66.66667%;
    left: auto;
  }
  .prefix-8\@desktop {
    margin-left: 66.66667%;
  }
  .suffix-8\@desktop {
    margin-right: 66.66667%;
  }
  .gr-9\@desktop {
    width: 75%;
  }
  .push-9\@desktop {
    left: 75%;
    right: auto;
  }
  .pull-9\@desktop {
    right: 75%;
    left: auto;
  }
  .prefix-9\@desktop {
    margin-left: 75%;
  }
  .suffix-9\@desktop {
    margin-right: 75%;
  }
  .gr-10\@desktop {
    width: 83.33333%;
  }
  .push-10\@desktop {
    left: 83.33333%;
    right: auto;
  }
  .pull-10\@desktop {
    right: 83.33333%;
    left: auto;
  }
  .prefix-10\@desktop {
    margin-left: 83.33333%;
  }
  .suffix-10\@desktop {
    margin-right: 83.33333%;
  }
  .gr-11\@desktop {
    width: 91.66667%;
  }
  .push-11\@desktop {
    left: 91.66667%;
    right: auto;
  }
  .pull-11\@desktop {
    right: 91.66667%;
    left: auto;
  }
  .prefix-11\@desktop {
    margin-left: 91.66667%;
  }
  .suffix-11\@desktop {
    margin-right: 91.66667%;
  }
  .gr-12\@desktop {
    width: 100%;
  }
  .push-12\@desktop {
    left: 100%;
    right: auto;
  }
  .pull-12\@desktop {
    right: 100%;
    left: auto;
  }
  .prefix-12\@desktop {
    margin-left: 100%;
  }
  .suffix-12\@desktop {
    margin-right: 100%;
  }
  .float-left\@desktop {
    float: left;
  }
  .float-right\@desktop {
    float: right;
  }
  .clear\@desktop {
    clear: both;
  }
  .clear-left\@desktop {
    clear: left;
  }
  .clear-right\@desktop {
    clear: right;
  }
  .no-gutter\@desktop {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .no-gutter-left\@desktop {
    padding-left: 0;
  }
  .no-gutter-right\@desktop {
    padding-right: 0;
  }
  .no-gutter-top\@desktop {
    padding-top: 0;
  }
  .no-gutter-bottom\@desktop {
    padding-bottom: 0;
  }
  .gutter\@desktop {
    padding-right: 12px;
    padding-left: 12px;
  }
  .gutter-left\@desktop {
    padding-left: 12px;
  }
  .gutter-right\@desktop {
    padding-right: 12px;
  }
  .auto-height\@desktop {
    height: inherit;
  }
  .row\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
  }
  [class*="no-gutter"] > .row\@desktop {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-reverse\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
    transform: rotateY(180deg);
  }
  .row-reverse\@desktop > [class*="gr-"] {
    transform: rotateY(-180deg);
  }
  [class*="no-gutter"] > .row-reverse\@desktop {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .row-full\@desktop {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .col\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-reverse\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
    transform: rotateX(180deg);
  }
  .col-reverse\@desktop > [class*="gr-"] {
    transform: rotateX(-180deg);
  }
  .gr-table\@desktop {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .row-align-left\@desktop {
    font-size: 0;
    clear: both;
    text-align: left;
  }
  .row-align-left\@desktop > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-left\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .row-align-center\@desktop {
    font-size: 0;
    clear: both;
    text-align: center;
  }
  .row-align-center\@desktop > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-center\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .row-align-center\@desktop > * {
    text-align: left;
  }
  .row-align-right\@desktop {
    font-size: 0;
    clear: both;
    text-align: right;
  }
  .row-align-right\@desktop > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-right\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .row-align-right\@desktop > * {
    text-align: left;
  }
  .row-align-middle\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: middle;
  }
  .row-align-middle\@desktop > * {
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-middle\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .row-align-top\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: top;
  }
  .row-align-top\@desktop > * {
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-top\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .row-align-bottom\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: bottom;
  }
  .row-align-bottom\@desktop > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }
  @-moz-document url-prefix() {
    .row-align-bottom\@desktop > * {
      margin-right: -0.5px;
    }
  }
  .hide\@desktop {
    display: none;
  }
  .not-visible\@desktop {
    visibility: hidden;
  }
  .show\@desktop {
    display: block;
  }
  .show-inline\@desktop {
    display: inline-block;
  }
  .visible\@desktop {
    visibility: visible;
  }
  .row-debug\@desktop {
    position: relative;
    z-index: 99999;
    overflow: hidden;
  }
  .row-debug\@desktop:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
    background-size: 16.66667% 100%;
    z-index: 99999;
  }
  body {
    direction: ltr;
  }
}

@media screen and (min-width: 480px) {
  .gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12, .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet, .gr-0\@desktop, .gr-1\@desktop, .gr-2\@desktop, .gr-3\@desktop, .gr-4\@desktop, .gr-5\@desktop, .gr-6\@desktop, .gr-7\@desktop, .gr-8\@desktop, .gr-9\@desktop, .gr-10\@desktop, .gr-11\@desktop, .gr-12\@desktop {
    padding-right: 1.302%;
    padding-left: 1.302%;
  }
  .gr-grow, .gr-grow\@tablet, .gr-grow\@desktop {
    padding-right: 1.302%;
    padding-left: 1.302%;
  }
  .gr-adapt, .gr-adapt\@tablet, .gr-adapt\@desktop {
    padding-right: 1.302%;
    padding-left: 1.302%;
  }
}

@media screen and (min-width: 1024px) {
  .gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12, .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet, .gr-0\@desktop, .gr-1\@desktop, .gr-2\@desktop, .gr-3\@desktop, .gr-4\@desktop, .gr-5\@desktop, .gr-6\@desktop, .gr-7\@desktop, .gr-8\@desktop, .gr-9\@desktop, .gr-10\@desktop, .gr-11\@desktop, .gr-12\@desktop {
    padding-right: 12px;
    padding-left: 12px;
  }
  .gr-grow, .gr-grow\@tablet, .gr-grow\@desktop {
    padding-right: 12px;
    padding-left: 12px;
  }
  .gr-adapt, .gr-adapt\@tablet, .gr-adapt\@desktop {
    padding-right: 12px;
    padding-left: 12px;
  }
}

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -0.78125%;
  margin-right: -0.78125%;
}

@media screen and (min-width: 480px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -1.302%;
    margin-right: -1.302%;
  }
}

@media screen and (min-width: 1024px) {
  [class*="gr-"] > [class^="row"],
  [class*="gr-"] > [class^="col"] {
    margin-left: -12px;
    margin-right: -12px;
  }
}
