/*================  Clearfix mixin ================*/

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both; }
  *zoom: 1;
}

.noClear {
  &:after {
    content: initial !important;
    display: none !important;
    clear: none !important;
  }
}

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both; }
  *zoom: 1;
}
