@include gridle_setup((
  context : 12,
  gutter-width : 1.5625%
));

@include gridle_register_state (tablet, (
  min-width : 481px,
  gutter-width : 2.604%
));

// make the use of media queries really easy
@include gridle_register_state (desktop, (
  min-width : 1025px,
  gutter-width : 25px
));

@include gridle_generate_classes();


/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$tablet: 480px;
$desktop: 1024px;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'tablet' '(min-width: #{$tablet})',
  'desktop' '(min-width: #{$desktop})',
);

/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/

$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
  $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}
