//## Layouts

$susy: (
  columns: 12,
  gutters: .2272,
  math: fluid,
  output: float,
  gutter-position: after
);

$m: 12 .4347 after fluid;
$l: 12 (63px 24px) after static;
$xl: 12 (77px 25px) after static;

//## Breakpoints
$b1: 0;
$b2: 768px;
$b3: 1024px;
$b4: 1200px;

@mixin mq($mq-from: 1, $mq-to: false) {
  $map-layout: (
    1: ($b1, $susy),
    2: ($b2, $m),
    3: ($b3, $l),
    4: ($b4, $xl),
  );
  @if ($mq-to) {
    @for $mq from $mq-from through $mq-to {
      $currentLayout: map-get($map-layout, $mq);
      @include susy-breakpoint(nth($currentLayout, 1), nth($currentLayout, 2)) {
        @content;
      }
    }
  } @else {
    $currentLayout: map-get($map-layout, $mq-from);
    @include susy-breakpoint(nth($currentLayout, 1), nth($currentLayout, 2)) {
      @content;
    }
  }
}
